*{
    box-sizing:border-box;}

body{
    margin:0;
    font-family: 'Georgia', serif;
    background: linear-gradient(180deg,#0a0606,#140909,#000000);
    color:#f5e6d3;}

header{
    background: linear-gradient(180deg,#1a0f0f,#0a0606);
    text-align:center;
    padding:60px 20px;
    letter-spacing:4px;
    border-bottom:1px solid rgba(245,230,211,0.15);}

header h1{
    font-size:56px;
    margin:0;
    font-weight:500;}

header p{
    color:#d6c2a5;
    margin-top:10px;}

nav{
    display:flex;
    justify-content:center;
    gap:70px;
    padding:16px;
    background:linear-gradient(to right,#120808,#1a0f0f,#120808);
    text-align:center;
    border-bottom:1px solid rgba(245,230,211,0.15);}

nav a:link{
    text-decoration:none;
    color:#e6d3b3; 
    font-size:20px;
    letter-spacing:2px;
    font-weight:600;
    padding:12px 30px;
    border-radius:2px;
    transition:0.4s;}

nav a:visited{
    color:#cbb79a;}

nav a:hover{
     background:linear-gradient(to bottom,#3b2a1a,#24160d);
    color:#ffffff;
    box-shadow:
        0 0 18px rgba(255,220,160,0.18);}

nav a:active{
    background:linear-gradient(to bottom,#3b2a1a,#24160d);
    color:#fff4dc;
    box-shadow:
        0 0 12px rgba(255,220,160,0.25),
        inset 0 0 6px rgba(255,240,200,0.2);}

.row{
    width:88%;
    margin:auto;}

.leftcolumn{
    float:left;
    width:72%;}

.rightcolumn{
    float:left;
    width:28%;
    padding-left:25px;}

.card{
    background: linear-gradient(145deg,#140909,#1f1111);
    padding:30px;
    margin-top:30px;
    border-radius:6px;
    border:1px solid rgba(255,230,200,0.08);
    box-shadow:0 10px 30px rgba(0,0,0,0.6);}

.card img{
    width:100%;
    border-radius:4px;
    filter:brightness(0.85) contrast(1.05);
}

iframe{
    border-radius:4px;
    margin-top:15px;
    filter:sepia(20%) brightness(0.85);}

.gallery{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;}

.gallery img{
    width:260px;
    border-radius:4px;
    transition:0.4s;
    filter:brightness(0.75) sepia(25%);}

.gallery img:hover{
    transform:scale(1.07);
    filter:brightness(1);
    box-shadow:0 0 25px rgba(255,220,180,0.25);}

.about-img{
    width:190px;
    border-radius:50%;
    display:block;
    margin:auto;
    border:2px solid rgba(245,230,211,0.3);}

footer{
    background:#0a0606;
    color:#cbb79a;
    text-align:center;
    padding:22px;
    margin-top:40px;
    border-top:1px solid rgba(245,230,211,0.1);
    letter-spacing:2px;}

.highlight{
    color:#f1d2a9;
    font-weight:bold;}

.date{
    color:#e0c39c;
    font-weight:bold;}

.row:after{
    content:"";
    display:table;
    clear:both;}

@media screen and (max-width:800px){
    .leftcolumn, .rightcolumn{
        width:100%;
        padding:0;}


